{% extends 'dashboard/main.html' %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    {% include "dashboard/includes/dash/pageHeading.html" %}

    <!-- Content Row -->
    <div class="row">

        {% include "dashboard/includes/dash/cpuCard.html" with cardTitle="CPU-Auslastung" cardContent="0" %}
        {% include "dashboard/includes/dash/memoryCard.html" with cardTitle="RAM-Auslastung" cardContent="0" %}
        {% include "dashboard/includes/dash/volumesCard.html" with cardTitle="Verfügbare Festplatten" cardContent=drives_usage %}
        {% include "dashboard/includes/dash/processCard.html" with cardTitle="Laufende Prozesse" cardContent=process_count %}

    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">
            {% include "dashboard/includes/dash/volumesInfo.html" %}
            

            <!-- Color System -->
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card bg-primary text-white shadow">
                        <div class="card-body">
                            Primary
                            <div class="text-white-50 small">#4e73df</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-success text-white shadow">
                        <div class="card-body">
                            Success
                            <div class="text-white-50 small">#1cc88a</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-info text-white shadow">
                        <div class="card-body">
                            Info
                            <div class="text-white-50 small">#36b9cc</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-warning text-white shadow">
                        <div class="card-body">
                            Warning
                            <div class="text-white-50 small">#f6c23e</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-danger text-white shadow">
                        <div class="card-body">
                            Danger
                            <div class="text-white-50 small">#e74a3b</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-secondary text-white shadow">
                        <div class="card-body">
                            Secondary
                            <div class="text-white-50 small">#858796</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-light text-black shadow">
                        <div class="card-body">
                            Light
                            <div class="text-black-50 small">#f8f9fc</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-dark text-white shadow">
                        <div class="card-body">
                            Dark
                            <div class="text-white-50 small">#5a5c69</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="col-lg-6 mb-4">
            <div class="row">
                <!-- Illustrations -->
                <div class="col-md-6">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Top Prozesse CPU</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover table-sm">
                                <thead>
                                    <tr><th scope="col">Nr.</th><th scope="col">Programm</th><th scope="col">CPU Zeit</th></tr>
                                </thead>
                                <tbody>
                                    <tr><th scope="row">1</th><td>Chrome.exe</td><td>20%</td></tr>
                                    <tr><th scope="row">1</th><td>Chrome.exe</td><td>20%</td></tr>
                                    <tr><th scope="row">1</th><td>Chrome.exe</td><td>20%</td></tr>
                                    <tr><th scope="row">1</th><td>Chrome.exe</td><td>20%</td></tr>
                                    <tr><th scope="row">1</th><td>Chrome.exe</td><td>20%</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Illustrations -->
                <div class="col-md-6">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Top Prozesse RAM</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover table-sm">
                                <thead>
                                    <tr><th scope="col">Nr.</th><th scope="col">Programm</th><th scope="col">CPU Zeit</th></tr>
                                </thead>
                                <tbody>
                                    <tr><th scope="row">1</th><td>Chrome.exe</td><td>20%</td></tr>
                                    <tr><th scope="row">1</th><td>Chrome.exe</td><td>20%</td></tr>
                                    <tr><th scope="row">1</th><td>Chrome.exe</td><td>20%</td></tr>
                                    <tr><th scope="row">1</th><td>Chrome.exe</td><td>20%</td></tr>
                                    <tr><th scope="row">1</th><td>Chrome.exe</td><td>20%</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Approach -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Projektentwicklung</h6>
                </div>
                <div class="card-body">
                    <p>Dieses Projekt nutzt DJANGO als Python-Web-Framework um das Frontend, also diese Seite,
                        und die API zu zu erzeugen. <br>
                        <a target="_blank" rel="nofollow" href="/data">Zur API &rarr;</a>
                    </p><p>
                        Es entstand im Rahmen des Moduls "Objektorientierte Skriptsprachen" im Studiengang
                        Medieninformatik an der Berliner Hochschule für Technik.
                    </p><p class="mb-0">
                        Das Projekt wurde in Gruppenarbeit von <i>Alicia Berthel</i> und <i>Leon Ebert</i> entwickelt.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    {% include "dashboard/includes/dash/dash.js" %}
</script>
{% endblock %}
